.headerEscuro {
    background-color: rgb(18, 18, 207); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px; 
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}



.text-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}


.header-text {
    font-size: 24px; 
    font-weight: bold;
    text-align: center; 
}

.logo-img {
    width: 100px;
    height: auto;
    margin-right: 2px;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  