.btn-primary {
  background-color: #007bff !important; 
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3 !important; 
}

.btn-custom-green {
  background-color: #00804b !important; 
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn-custom-green:hover {
  background-color: #006a3f;
}

html, body {
  background-color: white; 
  margin: 0;
  padding: 0;
  height: 100%;
}

.d-flex {
  background: white;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

input {
  padding: 8px;
  margin-top: 5px;
}

label {
  margin-top: 10px;
}

.mb-3 {
  margin-bottom: 1rem !important; 
}

.text-start.mt-0.mb-3 {
  margin-bottom: 1rem;
}
