.footerEscuro {
    background-color: rgb(18, 18, 207);
    color: white;
    text-align: center;
}

.footer {
    border-bottom: 10px solid rgb(18, 18, 207); 
    padding-bottom: 10px; 
}

footer img {
    margin-top: 0px; 
}

.footer .col-auto {
    padding-top: 10px; 
}
